@media (max-width: 760px) {
    body {
        font-size: 12px;
    }

    .pokedex {
        flex-direction: column;
        padding: 30px 0
    }
    
    .card-pokemon {
        max-width: 300px;
    }

    .card-pokemon .card-top {
        background-size: 200px;
    }

    .card-pokemon .card-image {
        width: 200px;
        height: 200px;
    }

    .card-pokemon .card-info {
        padding: 60px 30px 30px;
        margin-top: -50px;
    }

    .card-pokemon .card-info .info{
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .card-pokemon .card-info h3 {
        font-size: 16px;
    }

    .listing {
        max-width: 300px;
        height: 250px;
    }

    .listing ul {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .listing .pokemon {
        width: 125px;
        border-radius: 8px;
        margin-bottom: 0;
    }

    .listing .pokemon span {
        padding-right: 5px;
    }

    .listing .pokemon.active {
        transform: scale(1);
    }
}